
body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
}
.container {
  margin: 20px auto;
}
input[type=range] {
  width: 300px;
}
#led {
  width: 30px;
  height: 30px;
  margin: 20px auto;
  border-radius: 50%;
  background-color: gray;
}
.led-on {
  background-color: red;
  box-shadow: 0 0 20px red;
}
.led-off {
  background-color: gray;
}
